.div_body{
    background-color: #c7a124;
}

.name {
    text-align: center;
    color: #bed7dd;
    font-size: 60px;
}

h2 {
    color: red;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

p,
ul {
    color: #eb97f0;
    font-size: 26px;

}

a {
    color: #5f5f6b;
    font-size: 34px;
    text-align: center;
}

a:hover {
    text-decoration: underline;
    color: #9a9afa;
}

a:visited {
    color: #5ea6c7;
}

a:link {
    color: red;
}

.anchor{
    text-align: center;
    background: #efe3bd;
}

.div_name{
    background: #303034;
}

.div_summary{
    background: #ababad;
}

.div_education{
    background: #93939e;
}

.div_skills{
    background: #9999ad;

}

.div_experience{
    background: #8c8c90;

}